{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="ui center aligned container">
        <div class="ui large image">
            <svg width="300" height="300">
                <image xlink:href="/static/images/rcpch_logo.png" x="0" y="0" width="100%" height="100%"></image>
            </svg>
        </div>
        <h1>{% block title %}500 - Server Error{% endblock %}</h1>
        <h1>
            The server is down. The development team are aware but feel free to let us know too <a href="mailTo='it.support@rcpch.ac.uk'">. <a href="{{url_for('home')}}">This </a> should take you back.
        </h1>
    </div>
{% endblock %}