<div class="ui centered aligned grid">
  <div class="ui container">
    <canvas id="heightChart" width="200" height="200"></canvas>        
  </div>
  <div class="ui container">
    <canvas id="weightChart" width="200" height="200"></canvas>        
  </div>
  <div class="ui container">
    <canvas id="bmiChart" width="200" height="200"></canvas>
  </div>
  <div class="ui container">
    <canvas id="ofcChart" width="200" height="200"></canvas>
  </div>
  <div class="ui container">
    <canvas id="sdsChart" width="200" height="200"></canvas>
  </div>
</div>      
