{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Uploaded Data{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container">
  <!-- The results get posted here -->
  <div class="ui top attached tabular menu">
      <a class="active item" data-tab="table">Table</a>
      {% if unique_child=='true' %}
          <a class="item" data-tab="chart">Chart</a>
      {% endif %}
  </div>
  <div class="ui bottom attached active tab segment" data-tab="table">
      {% include 'multiple_results_table.html' %}
  </div>
  {% if unique_child=='true' %}
      <div class="ui bottom attached tab segment" data-tab="chart">
          <!---Charts start here-->
          {% include 'chart.html' %}  
      </div>
  {% endif %}
</div>
    
  <script>
    $('.tabular.menu .item').tab();
    {% include 'javascript/growthcharts.js' %}
    $('#velocityButton').on('click', function(evt) {
      // var growthData = $('#growthData').data();
      // console.log(growthData);
      
      $('.ui.modal').modal({
    inverted: true
  }).modal('show');
    });
  </script>
{% endblock %}